.product{
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    margin: 10px;
    width: 170px;
    border-radius:6px;
}
.title{
    font-family: Poppins;
    display: flex;
    justify-content: center;
}
.img{
    font-family: Poppins;
    margin-top:3px;
    width:100%;
    background:lightgrey;
    height: 100px;
    margin: 0 auto;
    background: var(--tg-theme-button-color);
}
.description{
    font-family: Poppins;
    display:flex;
    justify-content: center;
    font-size: 0.8em;
}
.add-btn{
    font-family: Poppins;
    display: flex;
    justify-content: center;
    width: 100%;
}
.price{
    font-family: Poppins;
    display: flex;
    justify-content: center;
}