*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}
button{
  padding: 10px 20px;
  color: white;
  background-color: black;
  border:none;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}